<div class='container-fluid'>   
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template class="box" ngbSlide>  
                <img width="1400" height="400" src="../../assets/Images/img1.jpg">   
            </ng-template>  
            <ng-template class="box" ngbSlide>  
                <img width="1400" height="400" src="../../assets/Images/img2.jpg">  
            </ng-template>  
            <ng-template class="box" ngbSlide>  
                <img width="1400" height="400" src="../../assets/Images/img3.jfif">  
            </ng-template>  
        </ngb-carousel>  
    </div>  
</div>  