<div class="row align-center my-5 text-info">
    <div class="col-6 offset-3 text-center">
        <h1>Welcome to Rent a Space </h1>
        <h2>Exploring living and buisness spaces made easier</h2>
    </div>
    <br>
    <br>
    <div class="col-6 offset-3 text-center my-5">
        <h3 class="my-3">You can join as a user</h3>
        <br><br>
        <div class="row">
            <div class="col-6 text-center">
                <button type="button" class="btn btn-success btn-lg" (click)="navRegister()">Register</button>
            </div>
            <div class="col-6 text-center">
                <button type="button" class="btn btn-success btn-lg" (click)="navLogin()">Login</button>
            </div>
        </div>
        <br><br>
        <h3 class="my-3">or continue as guest</h3>
        <br><br>
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-success btn-lg" (click)="navHome()">Home</button>
            </div>
        </div>
    </div>
</div>